.flex {
  display: flex;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: white;
  border-bottom: 1px solid var(--soft-gray);
}

.logo {
  margin-right: 2em;
  font-size: 2em;
  color: var(--blue);
  font-weight: 900;
}

.leftmost {
  align-items: center;
}

.navLink{
  margin-right: 1em;
  text-decoration: none;
  color: var(--gray);
  font-weight: bolder;
}

.active {
  color: var(--black);
}

#userIcon {
  font-size: .5em;
  height: 2em;
  width: 2em;
  padding: 1em;
  border: 1px solid var(--soft-gray);
  border-radius: 50%;
  color: var(--blue);
}

.bookList {
  margin-top: 2.5rem;
  margin: 2.5rem 3rem;
}

.bookItem {
  margin-bottom: 1em;
  background-color: white;
  padding: 1.6rem;
  border: 1px solid var(--soft-gray);
}

.bookItemSection {
  width: calc(100% / 3);
  border: 1px solid red;
}

.progress {
  padding-right: 3em;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid blue;
}

.progressLabel {
  font-size: 1.5em;
  padding-left: .8em;
  color: var(--black);
}
.progressLabelText {
  font-size: 0.6em;
  color: var(--gray);
  font-weight: 400;
}

.bookCategory {
  color: var(--gray);
  margin-bottom: .6em;
  font-size: .9em;
}

.bookTitle {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.button {
  border: none;
  border-right: 1px solid var(--soft-gray);
  background-color: var(--white);
  padding: .6em;
  color: var(--secondary-blue);
  cursor: pointer;
}

.commentButton {
  composes: button;
  padding-left: 0;

}