.flex {
  display: flex;
}

.navbar {
  border: 1px solid blue;
  justify-content: space-between;
}

.logo {
  margin-right: 2em;
  font-size: 2em;
  color: var(--blue);
  font-weight: 900;
}

.leftmost {
  align-items: center;
}


.navLinks {

}

.navLink{
  margin-right: 1em;
}

.active {
  color: red;
}